# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.vscode/
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log

# MongoDB data
data/

# Temporary files
*.tmp
*.temp
